.main_title{
    margin-top: 0;
    background: #4986CC;

    text-align: center;
    color: #FFFFFF;
}

.button{
    background: #4986CC;
    border-radius: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    align-self: center;
    position: absolute;
    margin-right: 50%;


    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.input_div{
    font-size: 14px;
    color: #6D7885;
    margin-bottom: 15px;
}

.file_input_div{
    font-size: 14px;
    color: #6D7885;
    margin-bottom: 15px;
}

.form-control{
    width: 350px;
    height: 40px;
    background: #F2F3F5;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}

.file_form-control{
    margin-top: 3px;
    width: 350px;
    height: 150px;
    border: 0.5px dashed rgb(0, 0, 0);
    border-radius: 10px;
}
