.center_button{
    background: #4986CC;
    border-radius: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    align-self: center;
    position: absolute;
    margin-right: 50%;


    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
